.form {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    flex-flow: wrap column;

    &__field {
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-flow: wrap column;

        &:not(:last-of-type) {
            margin-bottom: 15px;
        }
    }

    &__input {
        padding: 5px 15px;
        border: none;
        border-bottom: 2px solid #000;

        &:focus {
            outline: none;
            border-color: #009e9c;
        }
    }

    &__label {
        position: relative;
        top: 0;
        left: 0;
    }

    &__button {
        margin-top: 20px;
        padding: 10px;
        font-weight: bold;
        font-size: 1.2em;
        text-transform: uppercase;
        outline: none;
        border: 2px solid #009e9c;
        color: #009e9c;
        background-color: #fff;
        transition: all .2s ease-in-out;

        &:hover {
            color: #fff;
            background-color: #009e9c;
            cursor: pointer;
        }
    }
}
